section {
	padding: 1rem 0;
}

p {
	text-align: justify;
}

.subheading::after,
.subheading::before {
	content: "";
	width: 2rem;
	/* width: 100%; */
	display: inline-block;
	border-top: 1px solid #000;
	margin: 0 1rem .5rem;
}

.section-title {
	padding-bottom: 1rem;
}

.subheading {
	font-size: 1.4rem;
}

#projects tr>td:nth-child(1),
#projects tr>th:nth-child(1) {
	width: 30%;
}

#projects tr>td:nth-child(2),
#projects tr>th:nth-child(2) {
	display: none;
}

.vvisible_print_inline {
	display: none;
}

@media print {
	#projects tr>td:nth-child(2),
	#projects tr>th:nth-child(2) {
		display: table-cell;
	}
	.skill-img {
		width: 50%;
		margin: auto;
	}
	.visible_print_inline {
		display: inline;
	}
}